<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Page</title>
  </head>
  <body>
    <a href="/admin"><button>Back</button></a>
    <h1>Admin Site</h1>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Nama</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Skils</td>
          <td>Address</td>
          <td>Personal Site</td>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < programmer.length; i++) { %>
        <tr>
          <td><%= programmer[i].id %></td>
          <td><%= programmer[i].name %></td>
          <td><%= programmer[i].email %></td>
          <td><%= programmer[i].phone %></td>
          <td><%= programmer[i].skills %></td>
          <td><%= programmer[i].address %></td>
          <td><%= programmer[i].personal_site %></td>
          <td><a href="admin/programmer/delete/<%= programmer[i].id %>" onclick="return confirm('Data Programmer akan di Hapus ?')"><button type="button" name="button">DELETE</button></a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>