<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>
  <body>

    <%- include ../navbar %>
  <div class="container">
    <h1> <%= title %> </h1>
    <a href="/admin/projects/add-project"><button class="btn" type="button">Add Project</button></a>
  <br><br>
    <table class="table">
      <tr>
        <th>No </th>
        <th>Project Name</th>
        <th>Status Project</th>
      </tr>
      <% let no = 1; %>
      <% datas.forEach(function(data){ %>

        <tr>
          <td><%= no %> </td>
          <td><a href="/admin/projects/details/<%= data.idProject %>"><%= data.namaProject %></a></td>
          <% if(data.statusProject == true) { %>
            <td>Programmer untuk project ini adalah : <%= data.namaProgrammer %></td>
          <% } else { %>
            <td>Project ini belum menentukan programmer</td>
          <% } %>
        </tr>
      <% no += 1  %>
      <% }) %>
    </table>




  </div>



  </body>
</html>