<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <a href="/admin"><button>Back</button></a>
    <h1> <%= title %> </h1>
    <table>
      <tr>
        <th>No </th>
        <th>Project Name</th>
        <th>Status Project</th>
      </tr>
      <% let no = 1; %>
      <% datas.forEach(function(data){ %>

        <tr>
          <td><%= no %> </td>
          <td><a href="/admin/projects/details/<%= data.idProject %>"><%= data.namaProject %></a></td>
          <% if(data.statusProject == true) { %>
            <td>Programmer untuk project ini adalah : <%= data.namaProgrammer %></td>
          <% } else { %>
            <td>Project ini belum menentukan programmer</td>
          <% } %>
        </tr>
      <% no += 1  %>
      <% }) %>
    </table>
    <br>

    <a href="/admin/projects/add-project"><button type="button">Add Project</button></a>



  </body>
</html>