<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">


  </head>
  <body>
    <h1> <%= title %> </h1>
    <table>
      <tr>
        <th>No </th>
        <th>Project Name</th>
        <th>Jumlah Pendaftar</th>
      </tr>
      <% let no = 1; %>
      <% datas.forEach(function(data){ %>
        <tr>
          <td><%= no %> </td>
          <td><a href="/projects/details/<%= data.idProject %>"><%= data.namaProject %></a></td>
          <td><%= data.jumlahPendaftar %></td>
        </tr>
      <% no += 1  %>
      <% }) %>
    </table>
    <br>

    <!-- <a href="/projects/add-project"><button type="button">Add Project</button></a> -->



  </body>
</html>