<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>
  <body>
    <%- include navbar  %>
    <aside class="callout">
        <div class="text-vertical-center">
            <h1><%= title %></h1>
        </div>
    </aside>
  <% datas.forEach(function(data){ %>
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2><a href="/projects/details/<%= data.idProject %>"><%= data.namaProject %></a></h2>
                    <h3>Jumlah Programmer Mendaftar : <%= data.jumlahPendaftar %></h3>
                    <h3>Budget : Rp. <%= data.budget %></h3>
                </div>
                <div class="col-md-4">
                  <img src="https://placehold.it/350x150" alt="">
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <hr>
  <% }) %>

  <%- include footer %>



  </body>
</html>