<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1> <%= title %> </h1>
    <table>
      <tr>
        <th>No </th>
        <th>Project Name</th>
        <th>Jumlah Pendaftar</th>
      </tr>
      <% let no = 1; %>
      <% projects.forEach(function(project){ %>
      <%
         let counter = 0;
         relations.forEach((relation) => {
           counter += relation.getJumlahPendaftar(project,relation)
         })
      %>

        <tr>
          <td><%= no %> </td>
          <td><a href="/projects/details/<%= project.id %>"><%= project.name %></a></td>
          <td><%= counter %></td>
        </tr>
      <% no += 1  %>
      <% }) %>
    </table>
    <br>

    <a href="/projects/add-project"><button type="button">Add Project</button></a>



  </body>
</html>