<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Project Details</h1>

    <p>Nama Project</p>
      <p><%= data.name %></p>
    <hr>
    <p>Deskrips Project</p>
      <p><%= data.description %></p>
    <hr>
    <h3>Programmer terdaftar</h3>
      <table border="1px" style="width:100%">
        <th>Nama Programmer</th>
        <th>Personal Site</th>
        <th>Action</th>

        <% programmers.forEach((programmer) => { %>
          <tr>
            <td><%= programmer.name %></td>
            <td><%= programmer.personal_site %></td>
            <td><a href="accept/<%= programmer.id %>">Accept</a></td>

          </tr>
        <% }) %>
      </table>
    <hr>
    <a href="<%= data.id %>/edit-project"><button>Edit</button></a>
    <a href="<%= data.id %>/delete-project" onclick="return confirm('Data Project akan di Hapus ?')"><button>Delete</button></a>

  </body>
</html>